@media(min-width : 760px){
    #navi{
        padding-left: 50px;
    }
}

img{
    width: 100%;
}

.brand{
    cursor: pointer;
}

.brand:hover{
    text-decoration: none;
}

body{
    background-color: #ffffff;
}